.container{
    width:100vw;
    height:95vh;
    background:dodgerblue;
    display:flex;
    flex-direction:row;

    .history{
        width: 5vw;
        border: 1px solid black;
        height:95vh;

    }
    
    .box{
        border:1px solid black;
        border-radius:25px;
        background-color:darkblue;
        padding:2em;
        width:95vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-between;

        .convo{
            padding:2em;
            box:1px solid white;
            width:50vw;
            background:darkblue;
            height: 75vh;
            color:white;
        }

        .promptContainer{
            display:flex;
            gap:2em;
            align-items:center;
            
            .prompt{
                width: 40vw;
                height: 5em;
                border-radius:25px;
                padding:2em;
            }

            .promptButton{
                width:5em;
                height:2em; 

            }
        }
        
        
    }
}